:root {
    --accent-color: #4880ff;
    --secondary-color: #1b2431;
    --accent-bg-color: #273142;
    --white-color: #fff;
    --secondary-white-color: #f0f0f0e5;

    // Border-radius
    --primary-border-radius: 14px;
    --small-border-radius: 6px;
}
